In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from pydataset import data

In [4]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [6]:
BJsales=data('BJsales')

In [7]:
BJsales.head(10)

    time  BJsales
1      1    200.1
2      2    199.5
3      3    199.4
4      4    198.9
5      5    199.0
6      6    200.2
7      7    198.6
8      8    200.0
9      9    200.3
10    10    201.2

In [8]:
BJsales.dtypes

time         int64
BJsales    float64
dtype: object

In [9]:
BJsales.shape

(150, 2)

In [11]:
BJsales.describe

<bound method NDFrame.describe of      time  BJsales
1       1    200.1
2       2    199.5
3       3    199.4
4       4    198.9
5       5    199.0
6       6    200.2
7       7    198.6
8       8    200.0
9       9    200.3
10     10    201.2
11     11    201.6
12     12    201.5
13     13    201.5
14     14    203.5
15     15    204.9
16     16    207.1
17     17    210.5
18     18    210.5
19     19    209.8
20     20    208.8
21     21    209.5
22     22    213.2
23     23    213.7
24     24    215.1
25     25    218.7
26     26    219.8
27     27    220.5
28     28    223.8
29     29    222.8
30     30    223.8
31     31    221.7
32     32    222.3
33     33    220.8
34     34    219.4
35     35    220.1
36     36    220.6
37     37    218.9
38     38    217.8
39     39    217.7
40     40    215.0
41     41    215.3
42     42    215.9
43     43    216.7
44     44    216.7
45     45    217.7
46     46    218.7
47     47    222.9
48     48    224.9
49     49    222.2
50     50    220.7
51     51    220.0
52     52    218.7
53     53    217.0
54     54    215.9
55     55    215.8
56     56    214.1
57     57    212.3
58     58    213.9
59     59    214.6
60     60    213.6
61     61    212.1
62     62    211.4
63     63    213.1
64     64    212.9
65     65    213.3
66     66    211.5
67     67    212.3
68     68    213.0
69     69    211.0
70     70    210.7
71     71    210.1
72     72    211.4
73     73    210.0
74     74    209.7
75     75    208.8
76     76    208.8
77     77    208.8
78     78    210.6
79     79    211.9
80     80    212.8
81     81    212.5
82     82    214.8
83     83    215.3
84     84    217.5
85     85    218.8
86     86    220.7
87     87    222.2
88     88    226.7
89     89    228.4
90     90    233.2
91     91    235.7
92     92    237.1
93     93    240.6
94     94    243.8
95     95    245.3
96     96    246.0
97     97    246.3
98     98    247.7
99     99    247.6
100   100    247.8
101   101    249.4
102   102    249.0
103   103    249.9
104   104    250.5
105   105    251.5
106   106    249.0
107   107    247.6
108   108    248.8
109   109    250.4
110   110    250.7
111   111    253.0
112   112    253.7
113   113    255.0
114   114    256.2
115   115    256.0
116   116    257.4
117   117    260.4
118   118    260.0
119   119    261.3
120   120    260.4
121   121    261.6
122   122    260.8
123   123    259.8
124   124    259.0
125   125    258.9
126   126    257.4
127   127    257.7
128   128    257.9
129   129    257.4
130   130    257.3
131   131    257.6
132   132    258.9
133   133    257.8
134   134    257.7
135   135    257.2
136   136    257.5
137   137    256.8
138   138    257.5
139   139    257.0
140   140    257.6
141   141    257.3
142   142    257.5
143   143    259.6
144   144    261.1
145   145    262.9
146   146    263.3
147   147    262.8
148   148    261.8
149   149    262.2
150   150    262.7>

In [12]:
BJsales.tail(10)

     time  BJsales
141   141    257.3
142   142    257.5
143   143    259.6
144   144    261.1
145   145    262.9
146   146    263.3
147   147    262.8
148   148    261.8
149   149    262.2
150   150    262.7

In [13]:
BJsales.max()

time       150.0
BJsales    263.3
dtype: float64

In [14]:
BJsales.min()

time         1.0
BJsales    198.6
dtype: float64

In [15]:
BJsales.iloc[5:10]

    time  BJsales
6      6    200.2
7      7    198.6
8      8    200.0
9      9    200.3
10    10    201.2

In [18]:
BJsales.iloc[0:5]

   time  BJsales
1     1    200.1
2     2    199.5
3     3    199.4
4     4    198.9
5     5    199.0

In [19]:
BJsales.isnull().head(10)

     time  BJsales
1   False    False
2   False    False
3   False    False
4   False    False
5   False    False
6   False    False
7   False    False
8   False    False
9   False    False
10  False    False

In [21]:
BJsales.isnull().sum()

time       0
BJsales    0
dtype: int64

In [22]:
BJsales.isnull().sum().sum()

np.int64(0)

In [23]:
BJsales.notnull().head(10)

    time  BJsales
1   True     True
2   True     True
3   True     True
4   True     True
5   True     True
6   True     True
7   True     True
8   True     True
9   True     True
10  True     True

In [24]:
BJsales.notnull().sum()

time       150
BJsales    150
dtype: int64

In [26]:
BJsales.duplicated().head(10)

1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [28]:
BJsales.duplicated().sum()

np.int64(0)

In [29]:
BJsales.columns

Index(['time', 'BJsales'], dtype='object')

In [30]:
BJsales.nunique()

time       150
BJsales    123
dtype: int64

In [31]:
BJsales.nunique

<bound method DataFrame.nunique of      time  BJsales
1       1    200.1
2       2    199.5
3       3    199.4
4       4    198.9
5       5    199.0
6       6    200.2
7       7    198.6
8       8    200.0
9       9    200.3
10     10    201.2
11     11    201.6
12     12    201.5
13     13    201.5
14     14    203.5
15     15    204.9
16     16    207.1
17     17    210.5
18     18    210.5
19     19    209.8
20     20    208.8
21     21    209.5
22     22    213.2
23     23    213.7
24     24    215.1
25     25    218.7
26     26    219.8
27     27    220.5
28     28    223.8
29     29    222.8
30     30    223.8
31     31    221.7
32     32    222.3
33     33    220.8
34     34    219.4
35     35    220.1
36     36    220.6
37     37    218.9
38     38    217.8
39     39    217.7
40     40    215.0
41     41    215.3
42     42    215.9
43     43    216.7
44     44    216.7
45     45    217.7
46     46    218.7
47     47    222.9
48     48    224.9
49     49    222.2
50     50    220.7
51     51    220.0
52     52    218.7
53     53    217.0
54     54    215.9
55     55    215.8
56     56    214.1
57     57    212.3
58     58    213.9
59     59    214.6
60     60    213.6
61     61    212.1
62     62    211.4
63     63    213.1
64     64    212.9
65     65    213.3
66     66    211.5
67     67    212.3
68     68    213.0
69     69    211.0
70     70    210.7
71     71    210.1
72     72    211.4
73     73    210.0
74     74    209.7
75     75    208.8
76     76    208.8
77     77    208.8
78     78    210.6
79     79    211.9
80     80    212.8
81     81    212.5
82     82    214.8
83     83    215.3
84     84    217.5
85     85    218.8
86     86    220.7
87     87    222.2
88     88    226.7
89     89    228.4
90     90    233.2
91     91    235.7
92     92    237.1
93     93    240.6
94     94    243.8
95     95    245.3
96     96    246.0
97     97    246.3
98     98    247.7
99     99    247.6
100   100    247.8
101   101    249.4
102   102    249.0
103   103    249.9
104   104    250.5
105   105    251.5
106   106    249.0
107   107    247.6
108   108    248.8
109   109    250.4
110   110    250.7
111   111    253.0
112   112    253.7
113   113    255.0
114   114    256.2
115   115    256.0
116   116    257.4
117   117    260.4
118   118    260.0
119   119    261.3
120   120    260.4
121   121    261.6
122   122    260.8
123   123    259.8
124   124    259.0
125   125    258.9
126   126    257.4
127   127    257.7
128   128    257.9
129   129    257.4
130   130    257.3
131   131    257.6
132   132    258.9
133   133    257.8
134   134    257.7
135   135    257.2
136   136    257.5
137   137    256.8
138   138    257.5
139   139    257.0
140   140    257.6
141   141    257.3
142   142    257.5
143   143    259.6
144   144    261.1
145   145    262.9
146   146    263.3
147   147    262.8
148   148    261.8
149   149    262.2
150   150    262.7>